@use '../helpers/functions';
@use '../helpers/media';

.btn {
  display: block;
  height: min-content;
  font-size: functions.rem(14);
  line-height: 1;
  padding: 15px 20px;
  font-family: var(--f-base), sans-serif;
  transition: all 0.25s ease-out;
  border-radius: var(--b-radius-md);
  background: none;
  text-align: center;

  &:hover {
    cursor: pointer;
  }

  &:disabled {
    opacity: 0.45;
    pointer-events: none;
  }

  &--sm {
    font-size: functions.rem(14);
    line-height: 1;
    padding: 10px 20px;
  }

  &--lg {
    font-size: functions.rem(16);
    padding: 17px 30px;
  }

  &--xl {
    font-size: functions.rem(18);
    border-radius: var(--b-radius);
    padding: 20px 40px;
  }

  &--link-primary {
    padding: 0;
    color: var(--c-primary);
    text-decoration: underline;
    display: inline-block;
    font-size: inherit;
    font-weight: 400;
  }

  &--link {
    padding: 0;
    color: var(--c-secondary);
    text-decoration: underline;
    display: inline-block;
    font-size: inherit;
  }

  &--link-grey {
    padding: 0;
    color: var(--c-grey80);
    text-decoration: underline;
    display: inline-block;
    font-size: inherit;
  }

  &--primary {
    color: var(--c-grey00);
    background-color: var(--c-primary);

    &:hover,
    &:focus,
    &:active {
      background: color-mix(in srgb, var(--c-primary), var(--c-grey00) 20%);
    }
  }

  &--secondary {
    color: var(--c-primary);
    background-color: var(--c-grey00);

    &:hover,
    &:focus,
    &:active {
      color: var(--c-grey00);
      background-color: var(--c-primary);
    }
  }

  &--secondary-light {
    color: var(--c-grey80);
    background: var(--c-secondary-extra-light);

    &:hover,
    &:focus,
    &:active {
      background-color: var(--c-secondary-light);
    }
  }

  &--outline {
    color: var(--c-primary);
    background-color: var(--c-grey00);
    border: 1px solid var(--c-primary);

    &:hover,
    &:focus,
    &:active {
      color: var(--c-secondary);
      border-color: var(--c-secondary);
    }
  }

  &--outline-secondary {
    color: var(--c-secondary);
    background-color: var(--c-grey00);
    border: 1px solid var(--c-secondary);

    &:hover,
    &:focus,
    &:active {
      color: var(--c-primary);
      border-color: var(--c-primary);
    }
  }

  &--third {
    color: var(--c-grey00);
    background-color: var(--c-secondary);

    &:hover,
    &:focus,
    &:active {
      background: color-mix(in srgb, var(--c-primary), var(--c-grey00) 20%);
    }
  }

  &--item {
    font-style: italic;
    color: var(--c-primary);
    background-color: var(--c-grey10);

    &:hover,
    &:focus,
    &:active {
      color: var(--c-grey00);
      background-color: var(--c-primary);
    }
  }

  &--item-white {
    color: var(--c-primary);
    background-color: var(--c-grey00);
    font-style: italic;

    &:hover,
    &:focus,
    &:active {
      color: var(--c-grey00);
      background-color: var(--c-primary);
    }
  }

  &--grey {
    background: var(--c-grey10);
    color: var(--c-grey80);

    &:hover {
      background: var(--c-secondary-light);
    }
  }

  &--icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 8px;
  }

  &--single-icon {
    padding: 0;
  }

  &--light {
    background: var(--c-grey00);
    color: var(--c-primary);
  }
}
