.icon-angle-right:before {
  content: '\e800';
} /* '' */
.icon-appstore:before {
  content: '\e801';
} /* '' */
.icon-arrow-right:before {
  content: '\e802';
} /* '' */
.icon-bars:before {
  content: '\e803';
} /* '' */
.icon-close:before {
  content: '\e804';
} /* '' */
.icon-pencil:before {
  content: '\e805';
} /* '' */
.icon-avatar:before {
  content: '\e806';
} /* '' */
.icon-drinks:before {
  content: '\e807';
} /* '' */
.icon-discount:before {
  content: '\e808';
} /* '' */
.icon-check:before {
  content: '\e809';
} /* '' */
.icon-snaks:before {
  content: '\e80a';
} /* '' */
.icon-angle-bottom:before {
  content: '\e80b';
} /* '' */
.icon-sets:before {
  content: '\e80c';
} /* '' */
.icon-grill:before {
  content: '\e80e';
} /* '' */
.icon-info:before {
  content: '\e810';
} /* '' */
.icon-playmarket:before {
  content: '\e811';
} /* '' */
.icon-pizza-slice:before {
  content: '\e812';
} /* '' */
.icon-pin-scheme:before {
  content: '\e813';
} /* '' */
.icon-kebab:before {
  content: '\e814';
} /* '' */
.icon-angle-left:before {
  content: '\e816';
} /* '' */
.icon-angle-up:before {
  content: '\e817';
} /* '' */
.icon-ya-maps:before {
  content: '\e818';
} /* '' */
.icon-huawei:before {
  content: '\e819';
} /* '' */
.icon-f1:before {
  content: '\e81a';
} /* '' */
.icon-menu-bars:before {
  content: '\e81b';
} /* '' */
.icon-flake:before {
  content: '\e81c';
} /* '' */
.icon-info-1:before {
  content: '\e841';
} /* '' */
.icon-location:before {
  content: '\e842';
} /* '' */
.icon-three-dots-horizontal:before {
  content: '\e845';
} /* '' */
.icon-pizza-slice-filled:before {
  content: '\e846';
} /* '' */
.icon-instagram:before {
  content: '\e851';
} /* '' */
.icon-vk:before {
  content: '\e853';
} /* '' */
