@use '../helpers/functions.scss';
@use '../helpers/media.scss';

.container {
  max-width: var(--w-container);
  margin-inline: auto;
  padding-inline: var(--pi-container-xs);

  @include media.lg-up {
    padding-inline: var(--pi-container-md);
  }

  &--sm {
    @include media.md-only {
      padding-inline: var(--pi-container-xl);
    }

    @include media.xl-up {
      padding-inline: var(--pi-container-2xl);
    }
  }
}

.body {
  background-color: var(--c-body-bg);
  font-family: var(--f-base), sans-serif;
  font-size: functions.rem(16);
  line-height: functions.rem(22);
  transition:
    color,
    background 0.15s ease;
  overflow-x: hidden;

  &--fixed {
    overflow: hidden;
  }
}

.flex {
  display: flex;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.gap-10 {
  gap: 10px;
}

.grid {
  display: grid;

  &--cols-2 {
    grid-template-columns: 1fr 1fr;
  }

  &--product-test {
    grid-template-columns: 1fr 1fr;

    @include media.md-down {
      gap: 10px;
      background: var(--c-grey10);
    }

    @include media.md-up {
      grid-template-columns: repeat(2, 1fr);
      gap: 10px;
    }

    @include media.lg-up {
      grid-template-columns: repeat(4, 1fr);
    }

    @include media.xl-up {
      grid-template-columns: repeat(4, 1fr);
    }

    & > * {
      min-width: 0;
    }
  }

  &--adds {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-block: 10px 20px;
  }
}

.mt-10 {
  margin-top: 10px;
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.w-100 {
  width: 100%;
}

.gap-10 {
  gap: 10px;
}

.gap-20 {
  gap: 20px;
}

.gap-30 {
  gap: 30px;
}
