@use '../helpers/functions';
@use '../helpers/media';

.h1 {
  color: var(--c-grey80);
  font-family: var(--f-base), sans-serif;
  font-size: functions.rem(28);
  font-weight: 700;
  line-height: normal;
  margin-bottom: 20px;

  @include media.md-up {
    margin-bottom: 30px;
  }

  @include media.lg-up {
    font-size: functions.rem(32);
    margin-bottom: 40px;
  }

  &--grey {
    color: var(--c-grey30);
  }

  &--md-hidden {
    @include media.md-down {
      display: none;
    }
  }
}

.h2 {
  color: var(--c-grey90);
  font-family: var(--f-base), serif;
  font-size: functions.rem(24);
  line-height: functions.rem(28);
  font-weight: 600;
  margin-bottom: 30px;

  @include media.lg-up {
    font-size: functions.rem(32);
    line-height: functions.rem(38);
  }

  &--no-mb {
    margin-bottom: 0;
  }

  &--icon {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
    justify-content: flex-start;

    i {
      font-size: functions.rem(24);
      color: var(--c-secondary);

      &:before {
        margin: 0;
      }
    }
  }

  &--orange {
    color: var(--c-secondary);
  }
}

.h3 {
  color: var(--c-grey90);
  font-size: functions.rem(24);
  margin-bottom: 30px;
}

.h4 {
  font-size: functions.rem(24);
  line-height: functions.rem(38);
  margin-bottom: 12px;
  color: var(--c-text-primary);
}
