@use "../helpers/functions";
@use "../helpers/media";

.h1 {
  color: var(--c-grey80);
  font-family: var(--f-base);
  font-size: functions.rem(28);
  font-weight: 700;
  line-height: normal;

  @include media.lg-up {
    font-size: functions.rem(32);
  }
}

.h4 {
  font-size: functions.rem(24);
  line-height: functions.rem(38);
  margin-bottom: 12px;
  color: var(--c-text-primary);
}