@use "utils";
@use "components";

:root {
  //fonts
  --f-fontello: 'Fontello', sans-serif;
  --f-rubik: 'Rubik', sans-serif;
  --f-base: var(--f-rubik);
  --f-headings: var(--f-rubik);
  --f-icons: var(--f-fontello);

  //colors
  --c-primary: #E62A2B;

  --c-secondary-extra-light: #FFF7EC;
  --c-secondary-light: #FFF0DC;
  --c-secondary: #FDA924;
  --c-secondary-dark: #D8D1C7;
  --c-secondary-extra-dark: #A89B8A;

  --c-grey00: #fff;
  --c-grey05: #FAFAFA;
  --c-grey10: #f7f7f7;
  --c-grey20: #EBEBEB;
  --c-grey30: #D6D6D6;
  --c-grey40: #C2C2C2;
  --c-grey50: #adadad;
  --c-grey60: #868686;
  --c-grey70: #707070;
  --c-grey80: #5c5c5c;
  --c-grey90: #222222;
  --c-grey100: #000;

  --c-success: #1F890E;
  --c-error: #A84646;

  --c-top-nav-gradient: radial-gradient(50% 50% at 50% 50%, rgba(255, 208, 208, 0.58) 0%, rgba(255, 255, 255, 0) 100%) no-repeat;
  --c-footer-gradient: linear-gradient(180deg, rgba(255, 113, 113, 0.00) 51.78%, rgba(255, 70, 70, 0.20) 100%);

  --c-instagram: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
  --c-instagram-hover: radial-gradient(circle at 30% 107%, #e0d886 0%, #c5be77 5%, #bb4135 45%, #9a1972 60%,#285AEB 90%);
  --c-vk: #0077FF;
  --c-vk-hover: #0059bd;
  --c-huawei-hover: #C8102E;
  --c-playmarket-hover: linear-gradient(269deg, #F9BD00 0%, #F9BD00 22%, rgba(249, 189, 0, 0) 0%), linear-gradient(228deg, #F9BD00 0%, #F9BD00 100%, rgba(249, 189, 0, 0.00) 50%) right / 29% 20% no-repeat, linear-gradient(136deg, rgba(228, 54, 41, 0.00) 56.86%, #E43629 57.16%, #E43629 66.67%), linear-gradient(223deg, rgba(88, 125, 190, 0.00) 43.05%, #587DBE 44.71%, #587DBE 96.97%), linear-gradient(218deg, #30A043 31.52%, #30A043 40.43%);

  --c-aw-color: #d70000;

  //border-radius
  --b-radius-xxs: 4px;
  --b-radius-xs: 6px;
  --b-radius-sm: 8px;
  --b-radius-md: 10px;
  --b-radius: 15px;
  --b-radius-lg: 25px;
  --b-radius-round: 50px;

  //z-indexes
  --z-bottom: 10;
  --z-middle-bottom: 100;
  --z-middle: 150;
  --z-middle-top: 200;
  --z-top: 5000;
  --z-top-10: 300;
  --z-top-20: 400;
  --z-top-30: 500;

  //container
  --w-container: 1600px;
  --w-auth-form: 360px;

  // heights
  --h-header-sm: 57px;
  --h-header-md: 89px;
}